@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FAEAD6;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 40px 60px;
    background-color: #FAEAD6; 
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #558460;
}

header img {
    height: 70px;
    width: auto;
}

footer {
    background: #558460;
    margin-top: 105px;
    padding: 150px 150px 75.5px 150px;
}

.Introduction {
    color: #FFF;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.Letter {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Letter a {
    text-decoration: none;
    color: #FFF;
}

.Letter a:hover {
    text-decoration: underline;
}

.Copyright {
    color: #FFF;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}