.container {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  display: flex;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.calculator-screen {
  width: 260px;
  height: 50px;
  margin: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1.5em;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 1.2em;
  border: solid 1px #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
  border: solid 1px #999;
}