@import url('https://fonts.cdnfonts.com/css/digital-numbers');

.container {
  padding: 8px;
  border-radius: 20px;
  background: #FFD034;
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.25);
  margin: 50px auto; 
  width: 375px;
  height: 593px;
}

.calculator {
  padding: 15px;
  border-radius: 15px;
  background: #FFD240;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  width: 358px;
  height: 569px; 
}

.calculator-screen {
  border-radius: 10px;
  background: #747F62;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25) inset;
  font-size: 2.5em;
  max-width: 326px;
  height: 96px;
  margin-bottom: 21px;
  padding-right: 10px;
  border: none;
  text-align: right;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Digital Numbers', sans-serif;
}

.calculator-screen::placeholder {
  color: rgba(0, 0, 0, 0.75);
}
  
button {
  width: 70px;
  height: 70px;
  font-size: 1.2em;
  border: none;
  border-radius: 100%;
  background-color: #F5F5F5;
  box-shadow: 4px 4px 4px 0 #FFF inset;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin: 8.5px 8px; /* desired margin gap divided by 2: 17px/2 = 8.5px vertical, 16px/2 = 8px horizontal */
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
  margin: 0; 
}

.first-row button {
  margin-top: 0;
}

.fifth-row button {
  margin-bottom: 0;
}

.first-row button:first-child,
.second-row button:first-child,
.third-row button:first-child,
.fourth-row button:first-child,
.fifth-row button:first-child {
  margin-left: 0;
}

.first-row button:last-child,
.second-row button:last-child,
.third-row button:last-child,
.fourth-row button:last-child,
.fifth-row button:last-child {
  margin-right: 0;
}

button:hover {
  background-color: #ebe8e8;
  box-shadow: 4px 4px 4px 0 #efeeee inset;
  cursor: pointer;
}

.equal-sign {
  background-color: #F07A2A;
  box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.equal-sign:hover {
  background-color: #dc6e24;
  box-shadow: 4px 4px 4px 0 rgba(221, 221, 221, 0.25) inset;
  cursor: pointer;
}